{% extends '_layoutUser.html.twig' %}

{% block title %}Réservation en cours{% endblock %}

{% block content %}
    <h1 class="my-4 h1 text-center text-secondary">
        Réservation en attente
    </h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 m-4">
    {% for booking in bookings %}
        <div class="col">
            <div class="card col-2 m-3 bg-secondary text-light text-center" style="width:18rem;">
                <div class="card-header">
                    Réservation n° {{ booking.id }}
                </div>
                <div class="card-body">
                    <p class="card-text">Date de début: {{ booking.startDate ? booking.startDate|date('Y-m-d') : '' }}</p>
                    <p class="card-text">Date de fin: {{ booking.endDate ? booking.endDate|date('Y-m-d') : '' }}</p>
                    <p class="card-text">Nombre de personnes: {{ booking.numberPeople }}</p>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}" class="btn btn-secondary" title=" Contacter par mail">
                        <i class="material-icons text-light fw-bold">email</i>
                    </a>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}" class="btn btn-secondary" title=" Contacter par téléphone">
                        <i class="material-icons text-light fw-bold">phone</i>
                    </a>
                    <div class="card-footer">
                        <small class="text-light">Ajoutée il y a {{ booking.id }} minutes</small>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1 class="text-secondary text-center mt-3">
            Aucune réservation en attente
        </h1>
    {% endfor %}
    </div>
{% endblock %}
