<nav class="navbar shadow navbar-expand-lg navbar-secondary bg-secondary">
	<div class="container-fluid">
		<a class="nav-link" href="/">
			<h2 id ="logo" class="text-light px-2 mx-2" style="font-family: 'Cinzel Decorative', cursive;"><span class="display-2">W</span>ilder's Paradise</h2>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top" aria-controls="navbar-top" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar-top">
			<div class="row w-100">
				<ul class="navbar-nav w-100 d-flex justify-content-end align-items-middle mx-3 px-4 text-center">
					<li id='nav-element-desktop2' class="nav-Explorer col-2 mx-1">
						<a class="nav-link text-light fw-bold" style="font-size: x-large;" href="{{ path('house') }}">Découvrir les lieux</a>
					</li>
					<li id='nav-element-desktop2' class="nav-Explorer col-2 mx-1">
						<a class="nav-link text-light fw-bold" style="font-size: x-large;" href="{{ path('info') }}">Informations utiles</a>
					</li>
					{% if app.user %}
						<li id='nav-element-desktop2' class="nav-Explorer col-2 mx-1">
							<a class="nav-link text-light fw-bold" style="font-size: x-large;" href="{{ path('booking_new') }}">Réservation</a>
						</li>
						<li id='nav-element-desktop2' class="nav-Explorer col-2 mx-1">
							<a class="nav-link text-light fw-bold" style="font-size: x-large;" href="{{ path('booking_index') }}">Détails réservations</a>
						</li>
					{% else %}
						<li class="nav-Explorer col-4 mx-1">
							<a type="button" href="{{ path('user_new') }}" class="btn btn-secondary btn-lg border border-style-solid border-color-white fw-bold">Inscription</a>
							<a type="button" href="{{ path('app_login') }}" class="btn btn-secondary btn-lg border border-style-solid border-color-white fw-bold">Connexion</a>
						</li>
					{% endif %}
					{% if app.user %}
						<li class="nav-Explorer mx-1">
							<a class="nav-link d-flex" href="{{ path('app_logout') }}" title="Déconnexion">
								<i class="material-icons text-danger fw-bold">power_settings_new</i>
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</nav>
